.container {
  text-align: center;
  background-image: url('../../images/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  margin-top: 2%;
}

.mainTitle {
  color: rgb(245, 235, 235);
}

.secondaryTitle {
  color: rgb(243, 236, 236);
}
