.visitButton {
  position: absolute;
  left: 85%;
}

.visitLink {
  padding: 10px;
}

.saveButton {
  padding: 10px;
  position: absolute;
  left: 88%;
}

.deleteButton {
  padding: 10px;
  position: absolute;
  left: 88%;
}

.deleteButton:hover {
  cursor: pointer;
}
.saveButton:hover {
  cursor: pointer;
}
.visitLink {
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  .deleteButton {
    padding: 10px;
    position: absolute;
    left: 75%;
  }
  .visitButton {
    position: absolute;
    left: 90%;
  }
  .saveButton {
    padding: 10px;
    position: absolute;
    left: 80%;
  }
}
