.container {
    border: solid 1px black;
    padding: 20px;
    background-color: rgb(105, 59, 59);
}

.navItem {
    margin-left: 2%;
    color: rgb(214, 209, 209);
}

.phrase {
    color: rgb(214, 209, 209);
    font-size: 1.5rem;
}

